<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReTune Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReTune.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA373B6715D02D1C00A70DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3AC6721545EFDA00E1D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3AC6931545EFDA00E1D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE32FBB15AF4FE9006073F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE3303C15AF5827006073F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
